// header
.header
  .header__content
    .header__logo.logo__wrapper.logo--tele2
      a.logo__link(href="#", target="_blank")
        svg.logo: use(xlink:href="#tele2")/
    .header__logo.logo__wrapper.logo--maxim
      a.logo__link(href="#", target="_blank")
        svg.logo: use(xlink:href="#maxim")/