// header
.header
  .header__content
    .header__logo.logo__wrapper.logo--tele2
      a.logo__link(href="https://msk.tele2.ru/promo/podarok?utm_source=MaximWN&utm_medium=SP&utm_content=Tele2_SP_MaximWN_DecJan&utm_campaign=Tele2_SP_MaximWN_DecJan&utm_term", target="_blank")
        svg.logo: use(xlink:href="#tele2")/
    .header__logo.logo__wrapper.logo--maxim
      a.logo__link(href="http://www.maximonline.ru/", target="_blank")
        svg.logo: use(xlink:href="#maxim")/