@media #{$min-animation} {
  .a {
    &-fade {
      .is-animating & {
        opacity: 0;
        transition: opacity 0.3s;
      }
      
      .is-animating .animate > & {
        opacity: 1;
      }
    }
    
    &-fade-slide {
      &.z-1 {
        z-index: 1;
      }
      .is-animating & {
        opacity: 0;
        transform: translateY(2rem);
        transition: transform 0.3s, opacity 0.3s;
      }
      
      .is-animating .animate > & {
        opacity: 1;
        transform: translateY(0);
      }
    }
    
    .is-animating &-ordered {
      @for $i from 0 through 5 {
        &:nth-child(#{$i}) {
          transition-delay: 0.3s * $i;
        }
      }
    }
    
    .is-animating &-delay {
      @for $i from 0 through 6 {
        &-#{$i} {
          transition-delay: 0.3s * $i;
        }
      }
    }
  }
}