p {
  margin: 1em 0;
  @include null-first-last-margin();
}

a {
  color: inherit;
}

[class*="tp-heading"] {
  color: $color--heading;
}
.tp-heading {
  &--huge {
    font-size: $font-size--huge;
    line-height: normal;
    font-family: $font--special;
    font-weight: bold;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    
    .layout--desktop & {
      @media #{$flow-height} {
        font-size: $font-size--huge/1080px*100vh;
      }
    }
    .layout--mobile & {
      font-size: 50px;
    }
    
  }
  &--large {
    @include heading {
      font-size: $font-size--large;
      font-family: $font--accent;
      font-weight: bold;
      line-height: normal;
      letter-spacing: 0.05em;
      
      .layout--desktop & {
        @media #{$flow-height} {
          font-size: $font-size--large/1080px*100vh;
        }
      }
      .layout--mobile & {
        font-size: $font-size--large;
      }
    }
  }
  &--big {
    @include heading {
      font-size: $font-size--big;
      font-family: $font--accent;
      font-weight: bold;
    
      .layout--desktop & {
        @media #{$flow-height} {
          font-size: $font-size--big/1080px*100vh;
        }
      }
      .layout--mobile & {
        font-size: $font-size--big;
      }
    }
  }
}

.tp-body {
  &--large {
    font-size: $font-size--large;
    
    .layout--desktop & {
      @media #{$flow-height} {
        font-size: $font-size--large/1080px*100vh;
      }
    }
    .layout--mobile & {
      font-size: 30px;
    }
  }
  &--big {
    font-size: $font-size--big;
    
    .layout--desktop & {
      @media #{$flow-height} {
        font-size: $font-size--big/1080px*100vh;
      }
    }
    .layout--mobile & {
      font-size: $font-size--big;
    }
  }
  &--base {
    font-size: $font-size--base;
    
    .layout--desktop & {
      @media #{$flow-height} {
        font-size: $font-size--base/1080px*100vh;
      }
    }
  }
  &--main {
    font-size: $font-size--main;
    letter-spacing: 0.02em;
    
    .layout--desktop & {
      @media #{$flow-height} {
        font-size: $font-size--main/1080px*100vh;
      }
    }
    .layout--mobile & {
      font-size: 22px;
    }
  }
  &--small {
    font-size: $font-size--small;
  }
  
}


.tp-text {
  @each $align in (left, right, center) {
    &--#{$align} {
      text-align: $align;
    }
  }
}

.tp {
  &--uc {
    text-transform: uppercase;
  }
  &--lc {
    text-transform: lowercase;
  }
  &--accent {
    font-family: $font--accent;
  }
}

.l-block {
  @each $align in (left, right) {
    &--#{$align} {
      float: $align;
    }
  }
  &--center {
    margin: 0 auto;
  }
}

b, strong {
  font-weight: bold;
}
em, i {
  font-style: italic;
}

.primary--text {
  color: $color--primary;
}