extends template

prepend page
  - var layout = 'test';
  - var currentPage = 'result';

append head
  meta(property="og:site_name" content="Эх. А мы-то думали, женщины добрее мужчин — эмпатия и все такое.")
  meta(property="og:title" content="Эх. А мы-то думали, женщины добрее мужчин — эмпатия и все такое.")
  meta(property="og:image" content="https://olga-grabko.pro/case/tele2-test/build/img/sharing_900x471_good-bad.jpg")
block content
  .page.page--result
    .page__img: img(src="build/img/bad.png")
    .page__content
      .section
        .section__title.tp-heading--huge Эх. А мы-то думали, <br/>женщины добрее мужчин — эмпатия <br/>и все такое.
        .section__content.mt-3
          .result.mb-7
            .result__title.tp-heading--large
              span.text Результат: 
              span.score
              span.text из 
              span.total= testGirls.length
            .result__text.tp-body--main.my-5: p У тебя остаются считанные дни, чтобы продать шарлотку, дать телефон Максима подруге и посидеть с больными детьми сестры. Впрочем, Tele2 не Санта, им все равно - вела ты себя плохо или хорошо. У них другие правила! В этот Новый год Tele2 дарит всем желающим полгода связи в подарок при оплате 6&nbsp;месяцев на тарифе «Мой&nbsp;онлайн+».
            a.btn.mt-3(href=resultsGirls.bad.link) Подробнее
          +social(false, true, false, 'Эх. А мы-то думали, женщины добрее мужчин — эмпатия и все такое.')