extends template

prepend page
  - var layout = 'home';
  - var currentPage = 'home';

block content
  .page.page--home
    .page__img: img(src="build/img/santa.gif")
    .page__content
      .section
        .section__title.tp-heading--huge Чего <br/>ждать <br/>от Санты?
        .section__text.tp-body--main.my-6
          p Грядет неизбежная ежегодная проверка — <br/>совсем скоро Санта-Клаус запряжет свои сани в оленей и поедет раздавать подарки. Но достанутся гостинцы не всем, а только самым хорошим (и Николаю Баскову)!
          p Пройди наш короткий тест и узнай, <br/>заслужил ли ты преподношения на&nbsp;этот&nbsp;Новый&nbsp;год!
        .section__buttons
          a.btn.btn--big.btn--plain.mb-5(href="test-boy.html")
            svg.icon: use(xlink:href="#male")/
            span.text Плохим мальчиком
          br
          a.btn.btn--big.btn--plain(href="test-girl.html")
            svg.icon: use(xlink:href="#female")/
            span.text Хорошей девочкой