include components/mixins
doctype html
block page
  html
    head
      block head
        title Tele2
        //- include parts/favicon
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="build/css/main.css", rel="stylesheet")
        script(src="build/js/vendor/jquery-3.2.1.min.js")
        script(src="build/js/vendor/mobile.js")
        script(src="build/img/svg/sprite.js")
        meta(property="og:description" content="Пройдите наш короткий тест и узнайте, заслужили ли вы преподношения на этот Новый год!")
    body
      .svg-placeholder.hidden
      script
        | $('.svg-placeholder').html(SVG_SPRITE);
      .layout.layout--desktop(class="layout--#{layout}")
        include parts/header
        block content
      //-  include parts/footer
      
      script(src="build/js/vendor/owl.carousel.min.js")
      script(src="build/js/vendor/share.js")
      script(src="build/js/main.js")