// fonts to include
$inc-fonts: (
  ("StandardStencil", StandardStencil-Bold, bold, normal),
  ("Tele2DisplaySerif", Tele2DisplaySerif-Bold, bold, normal),
  ("Tele2DisplaySerif", Tele2DisplaySerif-Regular, normal, normal),
  ("Tele2TextSans", Tele2TextSans-Regular, normal, normal),
  ("Tele2TextSans", Tele2TextSans-Bold, bold, normal)
);

$font--base: Tele2TextSans, 'PT Sans', Arial, sans-serif;
$font--accent: Tele2DisplaySerif, 'PT Serif', Georgia, serif;
$font--special: StandardStencil, Tele2TextSans, 'PT Sans', Arial, sans-serif;
$font-size--small: 12px;
$font-size--base: 16px;
$font-size--big: 22px;
$font-size--large: 32px;
$font-size--huge: 65px;
$font-size--main: $font-size--big;
$line-height--base: 1.33;
$color--base: #000000;
$color--heading: #000000;
$color--primary: #ff59a3;
$color--secondary: #ff7e00;

$body-bg: #fff;
$body-bg--mobile: #f9f9f9;
$header-bg: transparent;
$header-color: #000000;
$btn-bg: transparent;
$header-height: 80px;
$scroll-width: 17px;

$media-lg: 'screen and (min-width: 77rem)';

$z-index--dropdown: 10;
$z-index--modal: 200;
$z-index--header: 100;



// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$spacers: (
  0: (
    x: ($spacer-x * 0),
    y: ($spacer-y * 0)
  ),
  1: (
    x: ($spacer-x * .25),
    y: ($spacer-y * .25)
  ),
  2: (
    x: ($spacer-x * .5),
    y: ($spacer-y * .5)
  ),
  3: (
    x: $spacer-x,
    y: $spacer-y
  ),
  4: (
    x: ($spacer-x * 1.5),
    y: ($spacer-y * 1.5)
  ),
  5: (
    x: ($spacer-x * 2),
    y: ($spacer-y * 2)
  ),
  6: (
    x: ($spacer-x * 2.5),
    y: ($spacer-y * 2.5)
  ),
  7: (
    x: ($spacer-x * 3),
    y: ($spacer-y * 3)
  ),
  8: (
    x: ($spacer-x * 4),
    y: ($spacer-y * 4)
  ),
  9: (
    x: ($spacer-x * 5),
    y: ($spacer-y * 5)
  ),
  10: (
    x: ($spacer-x * 6.25),
    y: ($spacer-y * 6.25)
  )
) !default;

// Grid vars
$grid-gutter: 1.25rem;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 40.06rem,
  md: 48rem,
  lg: 64rem,
  xl: 80rem
) !default;

$flow-height: 'screen and (min-height: 600px) and (max-height: 999px)';
$sm-height: 'screen and (max-height: 799px)';
$xs-height: 'screen and (max-height: 599px)';
$min-animation: 'screen and (min-width: 64rem)';
$md-landing: 'screen and (min-width: 62.5rem) and (max-width: 81.25rem)';
$xxs:        "screen and (max-width: 30rem)" !default; // up to 480px
$xs:        "screen and (max-width: 40rem)" !default; // up to 640px
$sm:        "screen and (max-width: 52rem)" !default; // max 832px
//$md:        "screen and (max-width: 64rem)" !default; // max 1024px
$md:        "screen and (max-width: 63.94rem)" !default; // max 1024px
$lg:        "screen and (max-width: 80rem)" !default; // max 1280px
$md-up:     "screen and (min-width: 64.06rem)" !default; // min 1024px